*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;
    font-family: sans-serif;
}
header{
    background: #009688;
    color: #fff;
    padding: 7px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 7px 5px #777777ad;

}
h1{
    letter-spacing: -2px;
}
menu{
    display: flex;
}
i{
    font-size: 22px;
    cursor: pointer;
    margin-right: 15px;
}
li{
    list-style: none;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: #fff;
    transition: 0.25s;
    font-size: 18px;
}
a:hover{
    color: #9e9e9e;
    
}

nav{
    background: #fff;
    width: 20vw;
    height: calc((100vh) - 120px);
    padding: 25px 35px;
    position: fixed;
    box-shadow: 0 0 7px 3px #777777ad;
}
nav li a {
    color: #9e9e9e;
}
h4{
    color: #333;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 30px;
}
nav li{
    margin-bottom: 15px;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.25s;
    padding-bottom: 5px;
}
nav li:hover{
    padding-left: 15px;
}
nav li:hover a{
    color: #777;
}
nav li a {
    font-size: 19px;

}

main{
    width: 100%;
    padding: 30px;
}

section{
    height: 100vh;
    width: 73vw;
    position: relative;
    left: 22vw;
}
input{
    box-shadow: 0 0 7px 3px #777777ad;
    width: 70%;
    padding: 9px 20px;
    border: 0;
    outline: 0;
    border-radius: 7px;
}
button{
    margin-left: 20px;
    border: unset;
    background: red;
    color: #fff;
    border: 3px #fff double;
    padding: 5px 19px;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    border-radius: 7px;
}

table{
    border-radius: 7px;
    box-shadow: 0 0 7px 3px #777777ad;
    margin-top: 50px;
    width: 60vw;
    padding: 20px 30px;
    border-collapse: none;
    border: 1px solid #777;
    background: #009688b5;
}
th{
    padding-bottom: 7px;
}
td{
    border-top: 1px solid #000;
    padding: 7px;
}